/* colours------------------------------- */

:root {
  --light-blue: #3ac5eb;
  --dark-blue: #374eb8;
  --gold: #eea25d;
  --red: #ff4339;
  --white: #e7ddd1;
}

.fb-blue {
  color: #0866fb;
}

/* fonts-------------------------------- */

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

.left-align {
  text-align: left;
}

/* custom spacings and padding---------- */

:root {
  --main-spacer: 4rem; /* spacer between sections */
  --sub-spacer: 2rem; /* spacer between headings and their content */
  --mini-spacer: 1rem; /* spacer between different content */
}

/* hero image styling------------------ */

.hero-img {
  background-color: var(--light-blue);
  background-image: url("../img/hero-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding-top: 0;
  padding-bottom: 0;
}

/* header------------------------------- */

.navbar {
  background-color: var(--light-blue);
}

.logo {
  height: 100px;
  width: 100px;
}


/* footer------------------------------ */

.footer-lp {
  position: absolute;
  bottom: 0;
}

footer {
  text-align: center;
  font-size: 2rem;
  background-color: var(--light-blue);
  width: 100%;
  height: 100px;
}

footer a {
  color: var(--white);
}

.socials {
  padding-top: var(--mini-spacer);
}

/* landing page---------------------- */

.jumbotron-content {
  margin-top: 8rem;
  padding: 2rem 1rem;
  background-color: #e7ddd180;
  border-radius: .3rem;
  height: 200px;
  color: var(--dark-blue);
  font-size: larger;
}

.custom-button {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.custom-button:hover {
  background-color: var(--red);
}

/* about page------------------------ */

.about {
  margin-bottom: var(--main-spacer);
}

.about-us {
  padding: 0 var(--sub-spacer);
  justify-content: space-between;
  margin-top: var(--main-spacer);
}

.about-us h2 {
  text-align: left;
  margin-bottom: var(--sub-spacer);
}

.about-us div {
  padding: 0;
}

.about-img {
  display: flex;
  justify-content: center;
}

.contact-button {
  background-color: var(--dark-blue);
}

.find-out-button:hover {
  background-color: var(--red);
}

.contact-button a {
  text-decoration: none;
  color: var(--white);
}

.team-heading {
  margin-bottom: var(--sub-spacer);
}

.team-img {
  width: 250px;
  height: 250px;
}

/* contact form---------------------- */

.submit-btn {
  display: flex;
  justify-content: center;
}

/* media queries--------------------- */

@media (max-width: 767px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}