/* colours------------------------------- */

:root {
  --dark-blue: #004672;
  --yellow: #ffad30;
  --gold: #cbb54c;
  --red: #8d0013;
  --white: #ffffff;
  --black: #000000;
}

.fb-blue {
  color: #0866fb;
}

/* fonts-------------------------------- */

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

.left-align {
  text-align: left;
}

/* custom spacings and padding---------- */

:root {
  --main-spacer: 4rem; /* spacer between sections */
  --sub-spacer: 2rem; /* spacer between headings and their content */
  --mini-spacer: 1rem; /* spacer between different content */
}

/* hero image styling------------------ */

.hero-img {
  background-color: var(--dark-blue);
  background-image: url("../img/hero-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding-top: 0;
  padding-bottom: 0;
}

/* header------------------------------- */

.navbar {
  background-color: var(--dark-blue);
}

.logo {
  height: 100px;
  width: 100px;
}

.nav-link {
  color: var(--yellow);
}

.nav-link:hover {
  color: var(--red);
}

.navbar-brand {
  color: var(--yellow);
}

.navbar-brand:hover {
  color: var(--red);
}

.navbar-toggler {
  border-color: var(--yellow);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,173,48)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header {
  border-bottom: solid 0.5rem var(--yellow);
}


/* footer------------------------------ */

.footer-lp {
  position: absolute;
  bottom: 0;
}

footer {
  text-align: center;
  font-size: 2rem;
  background-color: var(--dark-blue);
  width: 100%;
  height: 100px;
  border-top: solid 0.5rem var(--yellow);
}

footer a {
  color: var(--white);
}

.socials {
  padding-top: var(--mini-spacer);
}

/* landing page---------------------- */

.jumbotron-content {
  margin-top: 8rem;
  padding: 2rem 1rem;
  background-color: #e7ddd180;
  border-radius: .3rem;
  height: 200px;
  color: var(--dark-blue);
  font-size: larger;
  text-align: center;
}

.custom-button {
  background-color: var(--dark-blue);
  color: var(--yellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.custom-button:hover {
  background-color: var(--red);
}

/* about page------------------------ */

.about-img {
  width: 100% \9;
}

.about-us {
  padding: 0 var(--sub-spacer);
  justify-content: space-between;
  margin-top: var(--main-spacer);
}

.about-us h2 {
  text-align: left;
  margin-bottom: var(--sub-spacer);
}

.about-us div {
  padding: 0;
}

.contact-button {
  background-color: var(--dark-blue);
}

.find-out-button:hover {
  background-color: var(--red);
  color: var(--yellow);
}

.contact-button a {
  text-decoration: none;
  color: var(--yellow);
}

.team-heading {
  margin-bottom: var(--sub-spacer);
}

.team-img {
  width: 250px;
  height: 250px;
}

/* contact form---------------------- */

.submit-btn {
  display: flex;
  justify-content: center;
}

/* events page----------------------- */

.event-item {
  margin-top: var(--sub-spacer);
}

.event-img {
  max-width: 300px;
  max-height: 300px;
}

/* media queries--------------------- */

@media (max-width: 767px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 767px) {
  .card-content {
    display: flex;
  }
}

@media (min-width: 385px) {
  .footer-con {
    position: absolute;
    bottom: 0;
  }
}